body {
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #0d161a;
  color: #E8E8E8;
}

footer {
  text-align: center;
  color: #6E6E6E;
}

.home {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
}

.button {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #c72468;
  border-radius: 0.5em;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.ico-small {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
}

.grey {
  background-color: #5c6163;
}

.ico-small:hover {
  background-image: linear-gradient(#00BBBB, #784DBF);
}
