<p>
  Test home.

  Shields up! Rrrrred alert! Could someone survive inside a transporter buffer for 75 years? Commander William Riker of the Starship Enterprise. Well, I'll say this for him - he's sure of himself. Talk about going nowhere fast. You bet I'm agitated! I may be surrounded by insanity, but I am not insane. Your shields were failing, sir. I'm afraid I still don't understand, sir. Fate protects fools, little children and ships named Enterprise. They were just sucked into space. Flair is what marks the difference between artistry and mere competence. I think you've let your personal feelings cloud your judgement. Ensign Babyface! We know you're dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf. Wouldn't that bring about chaos? I suggest you drop it, Mr. Data.
</p>
