<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs',
      {title: 'EDAmame - Hardware Design Management Tool'}); %>
  </head>

  <body>
    <main>
      <h1>404 - Page Not Found!</h1>
    </main>
  </body>

</html>
