<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs',
      {title: 'EDAmame - Hardware Design Management Tool'}); %>
  </head>

  <body>
    <header>
    <%- include('./partials/header.ejs'); %>
    </header>

    <main>
      <a class="button" href="/login">Login/Signup</a>
    </main>

    <footer>
    <%- include('./partials/footer.ejs'); %>
    </footer>
  </body>
</html>
