<div>
  <a href="https://github.com/DanSGiesbrecht/edamame">
    <img class="ico-small grey" src="/static/img/GitHub-Mark-Light-120px-plus.png" alt="GitHub">
  </a>
  <h4> Copyright © 2019 Daniel Giesbrecht </h4>
</div>
