<!-- views/partials/header.ejs -->

<a href="/">HOME</a>
<a>COMPONENTS</a>
<a>DESIGNS</a>
<a>ORDER</a>
<a href="https://sso.digikey.com/as/authorization.oauth2?response_type=code&client_id=644d26a5-b5ef-47d7-a57a-65936cc1fe2f&redirect_uri=https://localhost:3000/oauth/redirect">DIGIKEY</a>

<a href="/static/styles/main.css">STATIC</a>
